<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rincón Dulce - Habitos Saludables</title>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/d889f500af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <a class="navbar-brand" href="../../index.html"><img src="../../img/logohb.png" height="45" class="d-inline-block align-top" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto ml-auto">
                <a class="nav-link primordial"  href="../nuestra-historia.html">Nuestra Historia</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="primero" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gastronomía
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item " id="primero" href="rincon-dulce.html">Rincón Dulce</a>
                      <a class="dropdown-item primordial" href="rincon-salado.html">Rincón Salado</a>
                    </div>
                </li>
                <a class="nav-link primordial"  href="../noticias.html">Noticias</a>
                <a class="nav-link primordial" href="../contacto.html">Contacto</a>
              </div>
            </div>
          </nav>
    </header>
    
    <main id="receta" class="container  rounded">
        <div class="text-justify mt-3">
            <div class="row align-items-center">
                <div class="col-sm-4 text-right">
                    <a href="rd-tres.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-4 text-center pb-3"> 
                    <a href="rincon-dulce.html"><h1 class="mt-4 mb-3 pt-3 text-center dulce">RINCÓN DULCE</h1></a>
                </div>
                <div class="col-sm-4 text-left">
                    <a href="rd-uno.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
            <hr>
            
            <h2 class="text-center mb-2">TORTA DE CALABAZA VEGANO CON CREMA DE VAINILLA</h2>
            <p class="ml-1 mr-3 mb-2">Esta torta es una versión bastante simple y accesible, los ingredientes los podemos encontrar en cualquier supermercado. La textura es tierna y 
            cremosa en el interior, es suave y súper saciante, así que te recomiendo servirlo en raciones pequeñas. Por encima esta decorada con almendras laminadas, pero es totalmente opcional.</p>
            
            <div class="content">
                <div class="contenedora">
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/01/pastel-calabaza-vegano-oto%C3%B1o-veganismo-recetas-dulces-faciles9.jpg" alt="Mountains" style="width:100%" alt="Avatar" class="image img-fluid">
                    <div class="overlay">
                        <div class="receta-texto">Torta de calabaza</div>
                    </div>
                </div>
                <div class=" container m-3">
                    <h5 class="mt-3 mb-3">INGREDIENTES</h5>
                    <ul class="text-justify ml-3">
                        <li>1 calabaza pequeña</li>
                        <li>1 taza y 1/2 de harina para bizcocho (lleva la levadura incorporada)</li>
                        <li>1 taza de leche vegetal</li>
                        <li>150 gr de Castaña de cajú (recuerda: hay que remojarlos 8h antes o cocerlos durante 1h)</li>
                        <li>150 ml de leche de coco de lata</li>
                        <li>1 limón</li>
                        <li>1/2 naranja</li>
                        <li>Miel</li>
                        <li>Vainilla líquida</li>
                        <li>Canela en polvo</li>
                        <li>Aceite de oliva</li>
                    </ul>
                    <h5 class="mt-3 mb-3">PASO A PASO </h5>
                    <ul class="mb-3 text-justify ml-3 mr-3 lista-rec">
                        <li>Antes de empezar, dejaremos las castañas de cajú remojar durante 8h o bien los coceremos 1h.</li>
                        <li>Pelamos la calabaza, la cortamos en cubos y la cocemos en abundante agua, hasta que adquiera una textura suave.</li>
                        <li>Mientras, preparamos 1 taza y media de harina para bizcochos. Sin añadir levadura, pues ya la lleva incorporada. </li>
                        <li>Volcamos la harina en un bol y, con la misma taza, calculamos 1/3 de miel. Reservamos.. </li>
                        <li>Rallamos la piel de 1 limón y 1/2 naranja sobre la harina. Mezclamos </li>
                        <li>Añadimos el jugo de media naranja a la harina, mezclamos, añadimos 1 cda sopera de vainilla líquida y volvemos a mezclar.</li>
                        <li>A continuación, añadimos 1 taza de leche vegetal al bol. </li>
                        <li>Con unas varillas, mezclamos bien hasta conseguir una masa homogenea. </li>
                        <li>Añadimos la calabaza asada, y volvemos a mezclar bien, hasta que la calabaza se deshaga.</li>
                        <li>Añadimos una cda sopera de canela, volvemos a batir.</li>
                        <li>Volcamos en un bol, engrasado con un poquito de aceite de oliva por todos los costados.</li>
                        <li>Llenamos el molde para el horno e introducimos la torta a 180 grados unos 45 minutos. El interior no ha de quedar seco, sino más bien jugoso pero bien hecho. Si atraviesas con un palillo para comprobar si está hecho y sale ligeramente húmedo, es normal, pues no es un bizcocho. </li>
                        <li>Volcamos las castañas remojadas en un bol y añadimos los 150 ml de leche de coco, un chorro generoso miel y dos cucharadas soperas de vainilla.</li>
                        <li>Batimos con una batidora de mano hasta conseguir una crema homogénea.</li>
                        <li>Ya estará listo el pastel, así que los retiramos del horno.</li>
                        <li>Dejamos templar el pastel, lo retiramos del molde y lo cubrimos por la crema de vainilla y anarcardos.</li>
                        <li>¡Y listo para comer! </li>
                    </ul>
                </div>
            </div>
            <div class="carro-contenedor mx-auto ">
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">1 / 6</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/01/pastel-calabaza-vegano-oto%C3%B1o-veganismo-recetas-dulces-faciles.jpg" style="width:100%">
                    <div class="carro-texto">Cocemos la calabaza y preparamos la harina</div>
                </div>
            
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">2 / 6</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/01/pastel-calabaza-vegano-oto%C3%B1o-veganismo-recetas-dulces-faciles2.jpg" style="width:100%">
                    <div class="carro-texto">Unimos la harina con la miel y las ralladuras</div>
                </div>
            
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">3 / 6</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/01/pastel-calabaza-vegano-oto%C3%B1o-veganismo-recetas-dulces-faciles4.jpg" style="width:100%">
                    <div class="carro-texto">Preparamos la base de la torta</div>
                </div>
            
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">4 / 6</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/01/pastel-calabaza-vegano-oto%C3%B1o-veganismo-recetas-dulces-faciles5.jpg" style="width:100%">
                    <div class="carro-texto">Añadimos la calabaza y canela</div>
                </div>
                
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">5 / 6</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/01/pastel-calabaza-vegano-oto%C3%B1o-veganismo-recetas-dulces-faciles6.jpg" style="width:100%">
                    <div class="carro-texto">Horneamos la torta y trituramos las castañas para la crema</div>
                </div>
                
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">6 / 6</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/01/pastel-calabaza-vegano-oto%C3%B1o-veganismo-recetas-dulces-faciles7.jpg" style="width:100%">
                    <div class="carro-texto">Sacamos la torta y preparamos la crema</div>
                </div>

                <a class="previo" onclick="plusSlides(-1)">&#10094;</a>
                <a class="siguiente" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="row align-items-center mb-3 pb-3">
                <div class="col-sm-6 text-right">
                    <a href="rd-tres.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-6 text-left">
                    <a href="rd-uno.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
        </div>
    </main>


    <footer class="container-fluid-sm">
      <div class="row redes-logo">
        <div class="col-12 logohb">
            <a href="../../index.html"><img src="../../img/logohb.png" alt="logo"></a>
        </div>
        <div class="col-12 redes">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icon-redes"></i></a>
            <a href="https://twitter.com/home?lang=es"><i class="fab fa-twitter icon-redes"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icon-redes"></i></a>
        </div>
      </div> 
        <div class="row contacto">
            <div class="col-12 abajo"></div>
                <h2>Contactenos</h2>
                <p class="col-12 text-justify text-center mt-2">
                  Si desea recibir noticias sobre nuevas recetas o añadir recetas en nuestra página por favor haga click aquí abajo:
                </p>
                <a class="btn btn-info btn-lg boton mt-3" href="../contacto.html" role="button">Más Información</a>
          </div>
        </div>
        
          <div class="row copy">
              <div class="col-lg-6 copyright">
                <p> &copy; 2020 Todos los derechos reservados. |<a href="https://www.linkedin.com/in/luciano99/"> Cancinos Luciano</a></p>
              </div>
              <div class="col-lg-6 information">
                <a href="#">Politicas de prividad</a> | <a href="#">Terminos y condiciones</a>
              </div>
        </div>
    </footer>

<script src="../../js/interaccion.js" ></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>