<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rincón Dulce - Habitos Saludables</title>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/d889f500af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <a class="navbar-brand" href="../../index.html"><img src="../../img/logohb.png" height="45" class="d-inline-block align-top" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto ml-auto">
                <a class="nav-link primordial"  href="../nuestra-historia.html">Nuestra Historia</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="primero" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gastronomía
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item " id="primero" href="rincon-dulce.html">Rincón Dulce</a>
                      <a class="dropdown-item primordial" href="rincon-salado.html">Rincón Salado</a>
                    </div>
                </li>
                <a class="nav-link primordial"  href="../noticias.html">Noticias</a>
                <a class="nav-link primordial" href="../contacto.html">Contacto</a>
              </div>
            </div>
          </nav>
    </header>
    
    <main id="receta" class="container  rounded">
        <div class="text-justify mt-3">
            <div class="row align-items-center">
                <div class="col-sm-4 text-right">
                    <a href="rd-dos.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-4 text-center pb-3"> 
                    <a href="rincon-dulce.html"><h1 class="mt-4 mb-3 pt-3 text-center dulce">RINCÓN DULCE</h1></a>
                </div>
                <div class="col-sm-4 text-left">
                    <a href="rd-cuatro.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
            <hr>
            
            <h2 class="text-center mb-2">HELADO CASERO DE VAINILLA Y CARAMELO DE DÁTIL</h2>
            <p class="ml-1 mr-3 mb-2"> Este helado tiene un resultado cremoso, suave, naturalmente dulce.
                Lo que tienes que saber es que preparar la receta lleva unos 5-10 minutos, no más. Pero tendrás que dejar las bananas congelando, mínimo, 2 horas antes de preparar el 
                helado. Aunque lo ideal es que las dejes una noche entera, así congelarán bien y el helado mantendrá una textura cremosa pero densa más tiempo.</p>
            
            <div class="content">
                <div class="contenedora">
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/07/receta-helado-casero-vainilla-pl%C3%A1tano-caramelo-f%C3%A1cil-vegano2.jpg" alt="Mountains" style="width:100%" alt="Avatar" class="image img-fluid">
                    <div class="overlay">
                        <div class="receta-texto">Helado casero de vainilla y caramelo de dátil</div>
                    </div>
                </div>
                <div class=" container m-3">
                    <h5 class="mt-3 mb-3">INGREDIENTES</h5>
                    <ul class="text-justify ml-3">
                        <li>2 plátanos grandes bien maduros (congelados en trozos mínimo 2h, pero ideal si son 8h)</li>
                        <li>5 dátiles</li>
                        <li>Vainilla líquida</li>
                        <li>Agua</li>
                        <li>Cacao y canela en polvo</li>
                        <li>Cerezas frescas</li>
                        <li>Necesitaremos un triturador de alimentos tipo batidora de mano o de vaso (procesadora)</li>
                    </ul>
                    <h5 class="mt-3 mb-3">PASO A PASO </h5>
                    <ul class="mb-3 text-justify ml-3 mr-3 pb-3 lista-rec">
                        <li>Seleccionamos dos plátanos grandes y maduros y los pelamos, troceamos y los congelamos entre 2h y 8h.</li>
                        <li>Mientras tanto, trituramos los 5 dátiles deshuesados con un chorrito muy pequeño de agua.</li>
                        <li>Cuando esté bien triturado (quedará una mezcla homogénea, sin trocitos) comprobamos la textura y vamos añadiendo más agua en función de la densidad con la 
                            que queramos que quede el caramelo. A mi me gusta un poco más denso que una natilla, pero esto va a gustos. </li>
                        <li>Lo reservamos en la nevera (si ha espesado, solo tenemos que añadir otro poquito de agua y volver a triturar, pero es importante que el caramelo de dátil esté
                            fresquita para que case bien con el helado). </li>
                        <li>Cuando ya haya transcurrido el tiempo, los colocamos en la batidora y trituramos hasta que se convierta en una crema helada, densa pero suave. </li>
                        <li>Seguidamente, añadimos 2 cdas. soperas bien generosas de vainilla líquida y volvemos a mezclar.</li>
                        <div class="carro-contenedor mx-auto ">
                            <div class="mySlides desvanece  pb-3">
                                <img src="https://recetasveganas.net/wp-content/uploads/2020/09/galletas-avena-caseras-chocolate-sin-huevo-vegano-dulce-recetas-saludables.jpg" style="width:100%">
                                <div class="carro-texto">Trituramos la banana bien congelada y añadimos la vainilla.</div>
                            </div>
                        </div>
                        <li>Volcamos el helado en un bol o vaso grande, y podemos intercalar capas de caramelo, cerezas y helado, o simplemente colocar todo el helado y después decorar con unos chorritos de caramelo.  </li>
                        <li> Espolvoreamos una pizca de canela y cacao por encima.</li>
                        <li>Decoramos con unas cerezas frescas y ¡listo para comer a cucharadas!</li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center mb-3 pb-3">
                <div class="col-sm-6 text-right">
                    <a href="rd-dos.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-6 text-left">
                    <a href="rd-cuatro.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
        </div>
    </main>


    <footer class="container-fluid-sm">
      <div class="row redes-logo">
        <div class="col-12 logohb">
            <a href="../../index.html"><img src="../../img/logohb.png" alt="logo"></a>
        </div>
        <div class="col-12 redes">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icon-redes"></i></a>
            <a href="https://twitter.com/home?lang=es"><i class="fab fa-twitter icon-redes"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icon-redes"></i></a>
        </div>
      </div> 
        <div class="row contacto">
            <div class="col-12 abajo"></div>
                <h2>Contactenos</h2>
                <p class="col-12 text-justify text-center mt-2">
                  Si desea recibir noticias sobre nuevas recetas o añadir recetas en nuestra página por favor haga click aquí abajo:
                </p>
                <a class="btn btn-info btn-lg boton mt-3" href="../contacto.html" role="button">Más Información</a>
          </div>
        </div>
        
          <div class="row copy">
              <div class="col-lg-6 copyright">
                <p> &copy; 2020 Todos los derechos reservados. |<a href="https://www.linkedin.com/in/luciano99/"> Cancinos Luciano</a></p>
              </div>
              <div class="col-lg-6 information">
                <a href="#">Politicas de prividad</a> | <a href="#">Terminos y condiciones</a>
              </div>
        </div>
    </footer>

<script src="../../js/interaccion.js" ></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>