<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rincón Dulce - Habitos Saludables</title>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/d889f500af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <a class="navbar-brand" href="../../index.html"><img src="../../img/logohb.png" height="45" class="d-inline-block align-top" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto ml-auto">
                <a class="nav-link primordial"  href="../nuestra-historia.html">Nuestra Historia</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="primero" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gastronomía
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item " id="primero" href="rincon-dulce.html">Rincón Dulce</a>
                      <a class="dropdown-item primordial" href="rincon-salado.html">Rincón Salado</a>
                    </div>
                </li>
                <a class="nav-link primordial"  href="../noticias.html">Noticias</a>
                <a class="nav-link primordial" href="../contacto.html">Contacto</a>
              </div>
            </div>
          </nav>
    </header>
    
    <main id="receta" class="container-sm  rounded">
        <div class="text-justify mt-3">
            <div class="row align-items-center">
                <div class="col-sm-4 text-right">
                    <a href="rd-cuatro.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-4 text-center pb-3"> 
                    <a href="rincon-dulce.html"><h1 class="mt-4 mb-3 pt-3 text-center dulce">RINCÓN DULCE</h1></a>
                </div>
                <div class="col-sm-4 text-left">
                    <a href="rd-dos.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
            <hr>
            
            <h2 class="text-center mb-2">Galletas de avena y chocolate saludables: baratas y veganas</h2>
            <p class="ml-1 mr-3 mb-2">Se caracterizan por ser muy llenadoras (gracias a la avena), así que con dos o tres galletas de sentirás más que satisfecha/o. Con esta receta salen unas 9 galletas grandes, así que si quieren raciones más un estilo “snack individual” las pueden hacer más chiquitas.</p>
            
            <div class="content">
                <div class="contenedora">
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/09/galletas-avena-caseras-chocolate-sin-huevo-vegano-dulce-recetas-saludables4.jpg" alt="Mountains" style="width:100%" alt="Avatar" class="image img-fluid">
                    <div class="overlay">
                        <div class="receta-texto">Galletitas de avena y chocolate</div>
                    </div>
                </div>
                <div class=" container m-3">
                    <h5 class="mt-3 mb-3">INGREDIENTES</h5>
                    <ul class="text-justify ml-3">
                        <li>1 taza de avena en copos</li>
                        <li>3 cdas soperas de aceite de oliva</li>
                        <li>2 bananas maduras y grandes</li>
                        <li>3 cdas soperas de panela (o edulcorante en grano que desees)</li>
                        <li>4 cucharadas soperas de harina de trigo (puedes usar integral)</li>
                        <li>1/2 cdita de canela en polvo</li>
                        <li>1/2 cdita de levadura en polvo</li>
                        <ol class="font-weight-bold">Para el chocolate:</ol>
                        <li>1/2 tabla de chocolate negro para fundir</li>
                        <li>Opcional: 1 chorro generoso de leche vegetal</li>
                        <li>Opcional: 1 cdita pequeña de aceite de coco.</li>
                        <li>Más que recomendable: papel de horno</li>
                    </ul>
                    <h5 class="mt-3 mb-3">PASO A PASO </h5>
                    <ul class="mb-3 text-justify ml-3 mr-3 lista-rec">
                        <li>Pelamos las dos bananas, las cortamos en rodajas y las machacamos con un tenedor hasta conseguir un puré lo más homogéneo posible.</li>
                        <li>Añadimos 1/2 cdita de levadura en polvo, 3 cdas soperas de panela o tu edulcorante en grano.</li>
                        <li>Continuamos añadiendo 1/2 cdita de canela en polvo, mezclamos bien y seguimos añadiendo 3 cdas soperas de aceite de oliva. </li>
                        <li>Volvemos a mezclar hasta conseguir una pasta homogénea. </li>
                        <li>Añadimos solo 1/2 taza de avena (reservamos la otra media) y mezclamos muy muy bien con la ayuda del tenedor. </li>
                        <li> Ahora, una vez bien mezclado, añadimos la otra mitad de taza de avena en copos. Mezclamos muy bien.</li>
                        <li> [Ahora vamos con el chocolate. Como yo las estoy preparando en temporada de frío, el chocolate tarda mucho en fundir, por lo que voy a empezar ya. Si lo estás preparando en un clima cálido, puedes esperar a hacer este paso a cuando acabes de hornear.] </li>
                        <li> Opcionalmente, si queremos suavizar el chocolate, añadimos 1 chorrito de leche vegetal y 1 cdita pequeña de aceite de coco (el leche de coco diluye el sabor intenso a cacao y el aceite de coco devolverá la solidez del chocolate cuando enfríe). </li>
                        <li>Volvemos con las galletas mientras el chocolate funde. Añadimos 2 cdas soperas de harina de trigo (puede ser integral o de avena) y mezclamos.</li>
                        <li>Añadimos otras 2 cucharadas soperas de harina, volvemos a mezclar y listo.</li>
                        <li>En una bandeja para horno, colocamos una cucharada sopera de masa. Ahora, aplanamos la galleta y le damos una forma fina y redondeada. Repetimos este proceso hasta acabar con la masa.</li>
                        <li>Las horneamos, con el fuego encendido por arriba y por abajo, el ventilador prendido, durante 20 minutos mínimo a 180 grados. El tiempo puede variar en función del horno. </li>
                        <li>Pasados los 20 minutos, puedes abrir el horno y comprobar si están doradas ya por debajo. De ser así, puedes retirarlas o simplemente hornearlas 10-15 minutos más. </li>
                        <li>Las dejamos templar. A estas alturas el chocolate debería estar ya fundido. </li>
                        <li>Pasamos el chocolate a un bowl grande y sumergimos las galletas por la parte baja, las retiramos con cuidado y las mojamos hasta la mitad. </li>
                        <li>Las volvemos a poner en el papel de horno y las introducimos en la nevera durante 15 minutos. Si estás en un clima frío, es posible que el chocolate cuaje a temperatura ambiente. Si estás en clima cálido, quizá debas dejarlo más tiempo en la nevera para solidificar bien el chocolate. </li>
                        <li>¡Y listas para comer! </li>
                    </ul>
                </div>
            </div>
            <div class="carro-contenedor mx-auto ">
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">1 / 4</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/09/galletas-avena-caseras-chocolate-sin-huevo-vegano-dulce-recetas-saludables.jpg" style="width:100%">
                    <div class="carro-texto">Primeros pasos</div>
                </div>
            
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">2 / 4</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/09/galletas-avena-caseras-chocolate-sin-huevo-vegano-dulce-recetas-saludables1.jpg" style="width:100%">
                    <div class="carro-texto">Unimos los ingredientes</div>
                </div>
            
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">3 / 4</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/09/galletas-avena-caseras-chocolate-sin-huevo-vegano-dulce-recetas-saludables2.jpg" style="width:100%">
                    <div class="carro-texto">Creando el chocolate</div>
                </div>
            
                <div class="mySlides desvanece mb-3 pb-3">
                    <div class="numbertext">4 / 4</div>
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/09/galletas-avena-caseras-chocolate-sin-huevo-vegano-dulce-recetas-saludables3.jpg" style="width:100%">
                    <div class="carro-texto">Resultado final</div>
                </div>
            
                <a class="previo" onclick="plusSlides(-1)">&#10094;</a>
                <a class="siguiente" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="row align-items-center mb-3 pb-3">
                <div class="col-sm-6 text-right">
                    <a href="rd-cuatro.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-6 text-left">
                    <a href="rd-dos.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
        </div>
    </main>


    <footer class="container-fluid-sm">
      <div class="row redes-logo">
        <div class="col-12 logohb">
            <a href="../../index.html"><img src="../../img/logohb.png" alt="logo"></a>
        </div>
        <div class="col-12 redes">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icon-redes"></i></a>
            <a href="https://twitter.com/home?lang=es"><i class="fab fa-twitter icon-redes"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icon-redes"></i></a>
        </div>
      </div> 
        <div class="row contacto">
            <div class="col-12 abajo"></div>
                <h2>Contactenos</h2>
                <p class="col-12 text-justify text-center mt-2">
                  Si desea recibir noticias sobre nuevas recetas o añadir recetas en nuestra página por favor haga click aquí abajo:
                </p>
                <a class="btn btn-info btn-lg boton mt-3" href="../contacto.html" role="button">Más Información</a>
          </div>
        </div>
        
          <div class="row copy">
              <div class="col-lg-6 copyright">
                <p> &copy; 2020 Todos los derechos reservados. |<a href="https://www.linkedin.com/in/luciano99/"> Cancinos Luciano</a></p>
              </div>
              <div class="col-lg-6 information">
                <a href="#">Politicas de prividad</a> | <a href="#">Terminos y condiciones</a>
              </div>
        </div>
    </footer>

<script src="../../js/interaccion.js" ></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>