<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rincón Salado - Habitos Saludables</title>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/d889f500af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <a class="navbar-brand" href="../../index.html"><img src="../../img/logohb.png" height="45" class="d-inline-block align-top" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto ml-auto">
                <a class="nav-link primordial"  href="../nuestra-historia.html">Nuestra Historia</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="primero" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gastronomía
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item primordial" href="rincon-dulce.html">Rincón Dulce</a>
                      <a class="dropdown-item " id="primero" href="rincon-salado.html">Rincón Salado</a>
                    </div>
                </li>
                <a class="nav-link primordial"  href="../noticias.html">Noticias</a>
                <a class="nav-link primordial" href="../contacto.html">Contacto</a>
              </div>
            </div>
          </nav>
    </header>
    
    <main id="receta" class="container  rounded">
        <div class="text-justify mt-3">
            <div class="row align-items-center">
                <div class="col-sm-4 text-right">
                    <a href="rs-tres.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-4 text-center pb-3"> 
                    <a href="rincon-salado.html"><h1 class="mt-4 mb-3 pt-3 text-center dulce">RINCÓN SALADO</h1></a>
                </div>
                <div class="col-sm-4 text-left">
                    <a href="rs-uno.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
            <hr>
            
            <h2 class="text-center mb-2">TOSTADAS VEGANAS SALADAS SALUDABLES: 4 IDEAS DIFERENTES</h2>
            <p class="ml-1 mr-3 mb-2">En esta ocasión he preparado algunas ideas sencillas pero creativas, que además sean saludables y accesibles. Las combinaciones son muy interesantes
                orque incluyen legumbres (fuente de proteína vegetal – tofu -). Vegetales frescos como las hojas y el tomate, el aguacate y los frutos secos (que sacian mucho y aportan
                 grasas saludables) y la combinación de especias, que aportan muchísimo sabor y nos alejan de las clásicas tostadas simples.</p>
            
            <div class="content">
                <div class="contenedora">
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/05/tostadas-veganas-saladas-tofu-aguacate-guacamole1.jpg" alt="Mountains" style="width:100%" alt="Avatar" class="image img-fluid">
                    <div class="overlay">
                        <div class="receta-texto">Tostadas veganas saludables</div>
                    </div>
                </div>
                <div class=" container m-3">
                    <h5 class="mt-3 mb-3">INGREDIENTES</h5>
                    <ul class="text-justify ml-3">
                        <li>4 rebanadas de pan</li>
                        <ol class="font-weight-bold">Para el "huevo revuelto" a base de tofu</ol>
                        <li>150 gr de tofu</li>
                        <li>1 cda pequeña de curry</li>
                        <li>1 punta de cada pequeña de cúrcuma</li>
                        <li>Aceite de oliva</li>
                        <li>Dos pellizcos generos de sal negra (o sal kala namak, no vale sal normal)</li>
                        <ol class="font-weight-bold">Para el guacamole fácil</ol>
                        <li>1 Aguacate muy maduro</li>
                        <li>1 tomate pequeño</li>
                        <li>1/3 de cebolla</li>
                        <li>Aceite de oliva</li>
                        <li>Pimienta negra</li>
                        <li>Limón o lima</li>
                        <li>Sal</li>
                        <ol class="font-weight-bold">Otros toppings</ol>
                        <li>Aguacate maduro</li>
                        <li>Tomates cherry</li>
                        <li>Champiñones laminados</li>
                        <li>Hojas frescas: canónigos, espinacas...</li>
                        <li>Espárragos verdes</li>
                        <li>Semillas de sésamo</li>
                        <li>Chía blanca</li>
                        <li>Almendras</li>
                        <li>Ajo en polvo</li>
                        <li>Nueces</li>
                    </ul>
                    <h5 class="mt-3 mb-3">PASO A PASO </h5>
                    <ul class="mb-3 text-justify ml-3 mr-3 lista-rec">
                        <ol class="font-weight-bold">Para las tostadas de tofu estilo “huevo revuelto”:</ol>
                        <li>Empezaremos preparando el tofu estilo “huevo revuelto”: para ello desmenuzamos los 150 gramos de tofu con un tenedor hasta conseguir hacer migas.</li>
                        <li>Luego, añadimos la cucharada pequeña de curry, los dos pellizcos de sal negra y la punta de cdita. de cúrcuma.</li>
                        <li>Machacamos y mezclamos muy muy bien.</li>
                        <li>Volcamos en una sartén con un chorrito de aceite de oliva y salteamos a temperatura media por 5 minutos, hasta dorar y secar ligeramente.</li>
                        <li>Despues, lo colocamos sobre las tostadas, con toppings como champiñones laminados salteados y bien dorados a la sartén o espárragos verdes también salteados. Decoramos con almendras y nueces picadas.</li>
                    </ul>   
                    <ul class="mb-3 text-justify ml-3 mr-3 lista-rec">
                        <ol class="font-weight-bold">Para el guacamole: </ol>
                        <li>En un bol, machacamos la palta con un tenedor. Añadimos 1/3 de cebolla bien picada, 1 tomate pequeño en cubos y mezclamos.</li>
                        <li>Añadimos un chorro de aceite de oliva, un pellizco de sal, un chorro de limón o lima y otro pellizco de lima.</li>
                        <li>Volvemos a mezclar bien.</li>
                        <li>Untamos la tostada con el guacamole fácil y ponemos encima unas hojas pequeñas de canónigos y espinacas. Por encima unos cherry y un chorrito de aceite de oliva.</li>
                     </ul>
                     <ul class="mb-3 text-justify ml-3 mr-3 lista-rec">
                        <ol class="font-weight-bold">Para la tostada de aguacate y cherry: </ol>
                        <li>Abrimos por la mitad la palta y cortamos en láminas el interior, sin sacarlo aún de la cascara.</li>
                        <li>Cuando tengamos todo la palta cortada en láminas, clavamos la cuchara sopera por el extremo de la palta, la arrastramos por todo el interior, pegada a la piel y retiramos todo el interior, expulsándolo con la cuchara hacia fuera.</li>
                        <li>Colocamos dos o tres láminas de palta sobre la tostada, con tomates cherry cortados, un chorrito de aceite de oliva, ajo en polvo y semillas de sésamo.</li>
                        <ol class="font-weight-bold">¡Y listo! </ol>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center mb-3 pb-3">
                <div class="col-sm-6 text-right">
                    <a href="rs-tres.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-6 text-left">
                    <a href="rs-uno.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-fluid-sm">
        <div class="row redes-logo">
          <div class="col-12 logohb">
              <a href="../../index.html"><img src="../../img/logohb.png" alt="logo"></a>
          </div>
          <div class="col-12 redes">
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icon-redes"></i></a>
              <a href="https://twitter.com/home?lang=es"><i class="fab fa-twitter icon-redes"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram icon-redes"></i></a>
          </div>
        </div> 
          <div class="row contacto">
              <div class="col-12 abajo"></div>
                  <h2>Contactenos</h2>
                  <p class="col-12 text-justify text-center mt-2">
                    Si desea recibir noticias sobre nuevas recetas o añadir recetas en nuestra página por favor haga click aquí abajo:
                  </p>
                  <a class="btn btn-info btn-lg boton mt-3" href="../contacto.html" role="button">Más Información</a>
            </div>
          </div>
          
            <div class="row copy">
                <div class="col-lg-6 copyright">
                  <p> &copy; 2020 Todos los derechos reservados. |<a href="https://www.linkedin.com/in/luciano99/"> Cancinos Luciano</a></p>
                </div>
                <div class="col-lg-6 information">
                  <a href="#">Politicas de prividad</a> | <a href="#">Terminos y condiciones</a>
                </div>
          </div>
      </footer>
  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
  </html>