<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rincón Salado - Habitos Saludables</title>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/d889f500af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <a class="navbar-brand" href="../../index.html"><img src="../../img/logohb.png" height="45" class="d-inline-block align-top" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto ml-auto">
                <a class="nav-link primordial"  href="../nuestra-historia.html">Nuestra Historia</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="primero" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gastronomía
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item primordial" href="rincon-dulce.html">Rincón Dulce</a>
                      <a class="dropdown-item " id="primero" href="rincon-salado.html">Rincón Salado</a>
                    </div>
                </li>
                <a class="nav-link primordial"  href="../noticias.html">Noticias</a>
                <a class="nav-link primordial" href="../contacto.html">Contacto</a>
              </div>
            </div>
          </nav>
    </header>

    <main id="receta" class="container  rounded">
        <div class="text-justify mt-3">
            <div class="row align-items-center">
                <div class="col-sm-4 text-right">
                    <a href="rs-uno.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-4 text-center pb-3"> 
                    <a href="rincon-salado.html"><h1 class="mt-4 mb-3 pt-3 text-center dulce">RINCÓN SALADO</h1></a>
                </div>
                <div class="col-sm-4 text-left">
                    <a href="rs-tres.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
            <hr>
            
            <p class="h1 text-center mb-2">Hamburguesas de lentejas: de lo más fácil en las hamburguesas sin carne</p>
            <p class="ml-1 mr-3 mb-2"> estas hamburguesas de lentejas y brócoli caseras, una de las alternativas más fáciles y accesibles de preparar cuando quieres empezar a cocinar 
                recetas y experimentar en este amplio mundo que son las hamburguesas sin carne.</p>
            <div class="content">
                <div class="contenedora">
                    <img src="https://recetasveganas.net/wp-content/uploads/2020/05/hamburguesa-lentejas-sin-carne-vegana-recetas-faciles2.jpg" alt="Mountains" style="width:100%" alt="Avatar" class="image img-fluid">
                    <div class="overlay">
                        <div class="receta-texto">HAMBURGUESAS DE LENTEJAS, CHAMPIÑONES Y BRÓCOLI</div>
                    </div>
                </div>
                <div class=" container m-3">
                    <h5 class="mt-3 mb-3">INGREDIENTES</h5>
                    <ul class="text-justify ml-3">
                        <ol class="font-weight-bold"> Raciones: 8 hamburguesas de lentejas</ol>
                        <li>½ cabeza de brócoli</li>
                        <li>200 gr de lentejas cocidas</li>
                        <li>1 Cebolla</li>
                        <li>2 Ajos</li>
                        <li>½ pimiento rojo</li>
                        <li>3 champiñones + extra como topping</li>
                        <li>Aceite de oliva</li>
                        <li>4 cdas. Soperas de harina de trigo (puedes usar sin gluten)</li>
                        <li>+ extra de harina de trigo (usaremos para rebozar)</li>
                    </ul>
                    <h5>class="mt-3 mb-3">PASO A PASO </h5>
                    <ul class="mb-3 text-justify ml-3 mr-3 lista-rec pb-3">
                        <li>Empezamos picando finamente la cebolla y los ajos, salteando en una sartén engrasada con aceite de oliva.</li>
                        <li>A continuación, picamos finamente los champiñones, el brócoli y el ½ pimiento rojo y lo incorporamos también a la sartén.</li>
                        <li>Salteamos todo hasta que empiece a estar tierno y dorado</li>
                        <li>Cuando esté listo, apagamos el fuego y volcamos el salteado en un bol, junto con las lentejas cocidas.</li>
                        <li>Machacamos con un tenedor hasta conseguir una textura más o menos homogénea</li>
                        <li>Incorporamos las 4 cdas. soperas de harina y mezclamos bien. Ahora vamos a dejarlo reposar hasta que temple un poco.</li>
                        <li>Preparar un plato hondo con abundante harina, para rebozar las hamburguesas.</li>
                        <li>Seguidamente, con las manos húmedas (así la masa no se queda pegada a las manos), agarramos una porción de masa de tamaño medio, le damos forma de bola y 
                            aplastamos para dar forma de hamburguesa, ejerciendo presión para que quede compacta, tanto por los laterales como por arriba y abajo.</li>
                        <li>Rebozamos por todos sus costados con harina y dejamos reposar en otro plato limpio.</li>
                        <li>Repetimos todo el proceso hasta acabar con toda la masa.</li>
                        <li>Para terminar, doramos las hamburguesas en una sartén con un chorro largo de aceite de oliva, por ambos costados.</li>
                        <li>¡Y listo! a disfrutar...</li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center mb-3 pb-3">
                <div class="col-sm-6 text-right">
                    <a href="rs-uno.html"><i class="fas fa-arrow-circle-left dulce"></i></a>
                </div>
                <div class="col-sm-6 text-left">
                    <a href="rs-tres.html"><i class="fas fa-arrow-circle-right dulce"></i></a>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-fluid-sm">
        <div class="row redes-logo">
          <div class="col-12 logohb">
              <a href="../../index.html"><img src="../../img/logohb.png" alt="logo"></a>
          </div>
          <div class="col-12 redes">
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icon-redes"></i></a>
              <a href="https://twitter.com/home?lang=es"><i class="fab fa-twitter icon-redes"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram icon-redes"></i></a>
          </div>
        </div> 
          <div class="row contacto">
              <div class="col-12 abajo"></div>
                  <h2>Contactenos</h2>
                  <p class="col-12 text-justify text-center mt-2">
                    Si desea recibir noticias sobre nuevas recetas o añadir recetas en nuestra página por favor haga click aquí abajo:
                  </p>
                  <a class="btn btn-info btn-lg boton mt-3" href="../contacto.html" role="button">Más Información</a>
            </div>
          </div>
          
            <div class="row copy">
                <div class="col-lg-6 copyright">
                  <p> &copy; 2020 Todos los derechos reservados. |<a href="https://www.linkedin.com/in/luciano99/"> Cancinos Luciano</a></p>
                </div>
                <div class="col-lg-6 information">
                  <a href="#">Politicas de prividad</a> | <a href="#">Terminos y condiciones</a>
                </div>
          </div>
      </footer>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
  </html>