<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noticias - Habitos Saludables</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/d889f500af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <a class="navbar-brand" href="../index.html"><img src="../img/logohb.png" height="45" class="d-inline-block align-top" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto ml-auto">
                <a class="nav-link primordial"  href="historia.html">Nuestra Historia</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle primordial" href="gastronomia.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gastronomía
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item primordial" href="../views/subsec/rincon-dulce.html">Rincón Dulce</a>
                      <a class="dropdown-item primordial" href="../views/subsec/rincon-salado.html">Rincón Salado</a>
                    </div>
                </li>
                <a class="nav-link primordial" id="primero" href="noticias.html">Noticias</a>
                <a class="nav-link primordial" href="contacto.html">Contacto</a>
              </div>
            </div>
          </nav>
    </header>
    
    <main>
      <h1 class="text-center mt-5 ">NOTICIAS</h1>
      
       <article class="container text-justify mt-5 nuevo shadow p-3 mb-5 rounded">
          <div class="row  align-items-center" >
            <div class="col-lg-12">
              <header class="col-lg-12">
                <time>Agosto 18, 2020</time>
              </header>
            </div>
            <div class="col-md-6 ">
              <img src="../img/hierro.jpg" class="w-100 rounded mx-auto d-block mb-3 mt-3 " alt="hierro">
            </div>
            <div class="col-md-6">
              <h4 class=" display-4  mx-auto">¿Cómo obtener HIERRO de fuentes vegetales?</h5> 
                <a class="author" href="https://www.instagram.com/veganosintacc.arg/">
                  <div>Autor</div>
                  <span>ʟᴜɴᴀ ʙᴀʀʀᴏɴɪ</span>
                </a>
              <p class="user-select-auto ml-4 mt-4">Es un mito decir que hay más riesgo de tener anemia por no consumir cuerpos o derivados de animales, lo más importante a tener en cuenta es lo mencionado en las fotografías, que además de consumir alimentos con Hierro, debemos tener en cuenta los alimentos que acompañan a una correcta absorción</p>
                <a class="btn btn-info btn-lg boton mt-3 boton-noticias" href="https://www.instagram.com/p/CECXI4njGnP/" role="button">Leer Articulo</a>
            </div>
            <footer class="col-lg-12">
              <ul class="mt-3 ">
                <li><a  href="#">Hierro</a></li>
                <li><a href="#">Fuentes vegetales</a></li>
              </ul>
            </footer>
          </div>
       </article>
      
         <article class="container text-justify mt-5 nuevo shadow p-3 mb-5 rounded">
            <div class="row  align-items-center" >
              <div class="col-lg-12">
                <header class="col-lg-12">
                  <time>Agosto 09, 2020</time>
                </header>
              </div>
              <div class="col-md-6">
                <img src="../img/salud.jpg" class="w-100 rounded mx-auto d-block mb-3 mt-3 " alt="salud">
              </div>
              <div class="col-md-6">
                <h4 class=" display-4  mx-auto">Organizaciones mundiales de SALUD que avalan una alimentación basada en plantas.</h5> 
                  <a class="author" href="https://www.instagram.com/p/CDrTpd8jg0U/">
                    <div>Publicado por<br>
                    <span>veganosintacc.arg</span></div>
                  </a>
                <p class="user-select-auto ml-4 mt-4">Una alimentación vegetal bien planificada es de los mejores activismos por los derechos de los animales no humanos, para demostrar que se puede estar perfectamente sano.
                  ❗Ten en cuenta: VEGANISMO no es sinónimo de sano. Para que lo sea debemos llevar una dieta balanceada y, preferentemente, organizada por un profesional de salud, acorde a tus necesidades.</p>
                  <a class="btn btn-info btn-lg boton mt-3 boton-noticias" href="https://www.instagram.com/p/CDrTpd8jg0U/" role="button">Articulo</a>
                  <a class="btn btn-info btn-lg boton mt-3 boton-noticias" href="http://www.sanutricion.org.ar/files/upload/files/Alimentacion_Vegetariana_Revision_final.pdf" role="button">Otras Notas</a>
              </div>
              <footer class="col-lg-12">
                <ul class="mt-3 ">
                  <li><a href="http://www.anima.org.ar/wp-content/uploads/2016/12/estudio.2016.dieta-vegana.pdf">Nutrición</a></li>
                    <li><a href="https://www.pcrm.org/">Physicians Committee</a></li>
                </ul>
              </footer>
            </div>
         </article>

         <article class="container text-justify mt-5 nuevo shadow p-3 mb-5 rounded">
            <div class="row  align-items-center" >
              <div class="col-lg-12">
                <header class="col-lg-12">
                  <time>26 de octubre 2019</time>
                </header>
              </div>
              <div class="col-md-6">
                <img src="../img/mitos.jpg" class="w-100 rounded mx-auto d-block mb-3 mt-3 " alt="salud">
              </div>
              <div class="col-md-6">
                <h4 class=" display-4  mx-auto mt-5">Mitos y verdades del veganismo</h5> 
                  <a class="author" href="https://elcomercio.pe/autor/patricia-castaneda-alva/">
                    <div>Autor</div>
                    <span>Patricia Castañeda Alva</span>
                  </a>
                <p class="user-select-auto ml-4 mt-4">Una persona vegana es aquella que no se alimenta ni de carne ni de sus derivados; tampoco usa pieles de animales ni productos que hayan
                  sido probados en estos. A propósito del Día del Veganismo, que se celebra este 1 de noviembre, médicos y nutricionistas –veganos y omnívoros– hablan con evidencia 
                  científica sobre mitos y verdades que hay detrás de esta forma de vivir y alimentarse.Se puede ser vegano en cualquier etapa de la vida.</p>
                  <a class="btn btn-info btn-lg boton mt-3 boton-noticias" href="https://www.instagram.com/p/CDrTpd8jg0U/" role="button">Leer Articulo</a>
              </div>
              <footer class="col-lg-12">
                <ul class="mt-3 ">
                  <li><a href="https://elcomercio.pe/gastronomia/nutricion/">Nutrición</a></li>
                  <li><a href="https://elcomercio.pe/noticias/veganismo/">Veganismo</a></li>
                  <li><a href="https://elcomercio.pe/noticias/nutrici%C3%B3n-vegana/">Nutrición vegana</a></li>
                </ul>
              </footer>
            </div>
         </article>
     
     <article class="container text-justify mt-5 nuevo shadow p-3 mb-5 rounded">
        <div class="row  align-items-center" >
          <div class="col-lg-12">
            <header class="col-lg-12">
              <time>10 agosto, 2020</time>
            </header>
          </div>
          <div class="col-md-6">
            <img src="../img/bco-semillas.jpg" class="w-100 rounded mx-auto d-block mb-3 mt-3 " alt="salud">
          </div>
          <div class="col-md-6">
            <h4 class=" display-4  mx-auto mt-5">El Banco Mundial de Semillas bajo amenaza</h5> 
              <a class="author" href="https://www.culturavegana.com/">
                <div>Publicado por</div>
                <span>Editorial Cultura Vegana</span>
              </a>
            <p class="user-select-auto ml-4 mt-4">El Banco Mundial de Semillas de Svalbard o Cámara Global de Semillas, Svalbard Global Seed Vault es un enorme almacén subterráneo de 
              semillas de miles de plantas de cultivo de todo el mundo.</p>
              <a class="btn btn-info btn-lg boton mt-3 boton-noticias" href="https://www.instagram.com/p/CDrTpd8jg0U/" role="button">Leer Articulo</a>
          </div>
          <footer class="col-lg-12">
            <ul class="mt-3 ">
              <li><a href="https://www.culturavegana.com/medio-ambiente/">Medio Ambiente</a></li>
              <li><a href="https://es.wikipedia.org/wiki/Tratado_Internacional_sobre_los_Recursos_Fitogen%C3%A9ticos_para_la_Alimentaci%C3%B3n_y_la_Agricultura">TRFAA</a></li>
              <li><a href="https://www.seedvault.no/">Safeguarding Seeds for the Future</a></li>
            </ul>
          </footer>
        </div>
     </article>

  </main>


  <footer class="container-fluid-sm">
      <div class="row redes-logo">
        <div class="col-12 logohb">
            <a href="../index.html"><img src="../img/logohb.png" alt="logo"></a>
        </div>
        <div class="col-12 redes">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f icon-redes"></i></a>
            <a href="https://twitter.com/home?lang=es"><i class="fab fa-twitter icon-redes"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icon-redes"></i></a>
        </div>
      </div> 
        <div class="row contacto">
            <div class="col-12 abajo"></div>
                <h2>Contactenos</h2>
                <p class="col-12 text-justify text-center mt-2">
                  Si desea recibir noticias sobre nuevas recetas o añadir recetas en nuestra página por favor haga click aquí abajo:
                </p>
                <a class="btn btn-info btn-lg boton mt-3" href="contacto.html" role="button">Más Información</a>
          </div>
        </div>
        
          <div class="row copy">
              <div class="col-lg-6 copyright">
                <p> &copy; 2020 Todos los derechos reservados. |<a href="https://www.linkedin.com/in/luciano99/"> Cancinos Luciano</a></p>
              </div>
              <div class="col-lg-6 information">
                <a href="#">Politicas de prividad</a> | <a href="#">Terminos y condiciones</a>
              </div>
        </div>
  </footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>